@page "/inmuebles/create"
@using Cozzi_Inmobiliaria.Server.Dto
@using Cozzi_Inmobiliaria.Shared.Dto;
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Agregar Inmueble</h3>
<EditForm Model="@_inmueble" OnValidSubmit="Post">
    <div class="form-group">
        <label>Direccion: </label>
        <InputText @bind-Value="_inmueble.Direccion" />
    </div>    
    <div class="form-group">
        <label for="_clientes">Cliente / Propietario</label>
        <InputSelect class="form-select" @bind-Value="_inmueble.ClienteId">
            @if (_clientes is not null)
            {
                <option selected value="">Seleccionar cliente...</option>
                @foreach (var cliente in _clientes)
                {
                    <option value="@cliente.Id">@cliente.Apellidos, @cliente.Nombres</option>
                }
            }                  
        </InputSelect> 
    </div>
    <div class="form-group">
        <label>Habitaciones</label>
        <InputNumber @bind-Value="_inmueble.Habitaciones" />
    </div>
    <div class="form-group">
        <label>Baños</label>
        <InputNumber @bind-Value="_inmueble.Baños" />
    </div>
    <div class="form-group">
        <label>Garages</label>
        <InputNumber @bind-Value="_inmueble.Garages" />
    </div>
    <div class="form-group">
        <label>Patios</label>
        <InputNumber @bind-Value="_inmueble.Patios" />
    </div>
    <div class="form-group">
        <label>Pisos</label>
        <InputNumber @bind-Value="_inmueble.Pisos" />
    </div>
    <div class="form-group">
        <label>Metros cuadrados</label>
        <InputNumber @bind-Value="_inmueble.MetrosCuadrados" />
    </div>
    <div class="form-group">
        <label>Propio</label>
        <InputCheckbox @bind-Value="_inmueble.Propio" />
    </div>
    <div class="form-group">
        <label>Nota: </label>
        <InputText @bind-Value="_inmueble.Nota" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Crear" />
    </div>
</EditForm>
<button class="btn btn-primary" @onclick="Volver">Volver</button>
@code {
    private InmuebleRequestDto _inmueble = new();
    private List<ClienteResponseDto> _clientes;

    protected override async Task OnInitializedAsync()
    {
        _clientes = await Http.GetFromJsonAsync<List<ClienteResponseDto>>("/api/Clientes");
    }
    private async Task Post()
    {
        await Http.PostAsJsonAsync<InmuebleRequestDto>("/api/Inmuebles/", _inmueble);
        Volver();
    }

    private void Volver()
    {
        Navigation.NavigateTo("/inmuebles");
    }
}
